@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}

.clear-fix {
  overflow: auto;
}

* {
  outline: none;
}

:focus,
a:focus {
  outline: none;
}

.content {
  margin-bottom: 0 !important; /*override main.css sticky footer fix*/
}
.content:after {
  height: 0 !important; /*override main.css sticky footer fix*/
}


/***************************************************************************
---HEADER
***************************************************************************/
#header {
  margin-top: 2em;
}

#header ul {
  list-style-type: none;
}

#header-main h1 {
  margin-bottom: 0;
}

#header-main {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

#topContacts {
  clear: both;
}

#topContacts .flex-item {
  width: 100%;
}

.logo {
  width: 5em;
  float: left;
  margin-right: 1em;
}

.biopic {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  transition: scaleY, .25s, ease-in-out;
  -webkit-transition: scaleY, .25s, ease-in-out;
  -moz-transition: scaleY, .25s, ease-in-out;
  -o-transition: scaleY, .25s, ease-in-out;
}

.flipped {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

.welcome-message {
  text-align: center;
}

#skills .flex-item {
  width: 100%;
}


/***************************************************************************
---CONTENT
***************************************************************************/

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.white-block {
  margin-bottom: 2em;
  padding: 2.5% 5% 5%;
}

img {
  max-width: 100%;
  max-height: 400px;
}

.work-entry+.work-entry,
.education-entry+.education-entry,
.project-entry+.project-entry {
  margin-top: 2em;
}

.slider {
  border: 1px solid #000000;
  max-height: 430px;
}

.slider img {
  margin: 10px;
  border: 1px solid #eeeeee;
}

.slick-prev:before,
.slick-next:before {
  color: #000000;
}

.orange-text,
.location-text {
  font-weight: bold;
}

#sidebar {
  margin-top: 0;
  padding: 2em;
}

.sidenav {
  transition: top 1s ease-out, position 1s ease-out;
  -webkit-transition: top 1s ease-out, position 1s ease-out;
  -moz-transition: top 1s ease-out, position 1s ease-out;
  -o-transition: top 1s ease-out, position 1s ease-out;
}

#map {
  height: 400px;
}

#map .gm-style {
  font-family: 'Karla', Helvetica, sans-serif;
}

/***************************************************************************
---FOOTER
***************************************************************************/
#lets-connect {
  max-width: 768px;
  margin: 0 auto 3em;
  text-align: center;
}

#lets-connect ul {
  list-style: none;
}

#lets-connect .contact-item {
  width: 100%;
  margin-bottom: 1em;
}

[class*="fontawesome-"] {
  display: block;
}

#lets-connect .orange-text {
  display: none;
}

/***************************************************************************
---MEDIA QUERIES
***************************************************************************/

@media only screen and (min-width: 440px) {
  #skills .flex-item {
    width: 50%;
  }
}

@media only screen and (min-width: 630px) {
  #topContacts {
    clear: none;
  }

  .biopic {
    float: left;
    margin-right: 1em;
    width: 150px;
  }

  .welcome-message {
    text-align: left;
  }

  #lets-connect .contact-item {
    width: 33.33%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  #header-main .flex-item {
    width: 50%;
  }

  #skills .flex-item {
    width: 33.33%;
  }
}