.clear-fix {
  overflow: auto;
}

:focus {
  outline: none;
}


/***************************************************************************
---HEADER
***************************************************************************/
#header {
  margin-top: 2em;
}

#header-main h1 {
  margin-bottom: 0;
}

#header-main {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

#header-main .flex-item {
  width: 50%;
}

.logo {
  width: 5em;
  float: left;
  margin-right: 1em;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  margin-right: 1em;
}

#header ul {
  list-style-type: none;
}

#skills .flex-item {
  width: 33.33%;
}


/***************************************************************************
---CONTENT
***************************************************************************/

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.white-block {
  margin-bottom: 2em;
  padding: 2.5% 5% 5%;
}

img {
  max-width: 100%;
}

.slider {
  border: 1px solid #000000;
}

.slider img {
  max-height: 400px;
  margin: 0 .5em;
  border: 1px solid #eeeeee;
}

.slick-prev:before,
.slick-next:before {
  color: #000000;
}

.orange-text,
.location-text {
  font-weight: bold;
}

#sidebar {
  margin-top: 0;
  padding: 2em;
}

.sidenav {
  transition: top 1s ease-out, position 1s ease-out;
  -webkit-transition: top 1s ease-out, position 1s ease-out;
  -moz-transition: top 1s ease-out, position 1s ease-out;
  -o-transition: top 1s ease-out, position 1s ease-out;
}

#lets-connect {
  text-align: center;
}

/***************************************************************************
---MEDIA QUERIES
***************************************************************************/

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
